.app {
  display: flex;
}

.main {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
}

.search {
  padding: 10px;
  margin-right: 5px;
}

.search input {
  width: 100%;
  height: 40px;
  font-size: 24px;
  color: grey;
}

.flats {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.flat {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  cursor: pointer;
}

.flat:hover {
  opacity: 0.5;
}

.map {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
}
